#header {
  font-family: 'Alkatra', cursive;
}
html { 
  scroll-behavior: smooth;
}
.section {
  padding: 5rem;
}
#main {
  background-color: #023047;
  font-size: 18px;
}
#main p {
  color: #8ecae6;
  font-family: 'Alkatra', cursive;
}
#main h1 {
  color: #fb8500;
  font-family: 'Alkatra', cursive;
}
#main img {
  height: 500px;
 object-fit: cover;
}
#footer {
  background: #3D455B;
}
#footer a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
#footer i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
#footer a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}
#footer a:hover i {
  color: black;
}
.rodrigo {
  font-size: 15px;
  color: #8ecae6;
  font-family: 'Alkatra', cursive;
}
